<h2 mat-dialog-title>Report a Bug: </h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Problem Description</mat-label>
    <br><br>
    <textarea matInput [(ngModel)]='data.bug_short' placeholder="Short Description" required></textarea>
  </mat-form-field>
    <br><br>
  <mat-form-field hintLabel="How did this problem occur or what steps could be used to reproduce this problem">
    <mat-label>Steps to Recreate</mat-label>
    <br><br>
    <textarea matInput [(ngModel)]='data.bug_desc' placeholder="Please include steps to recreate the error."></textarea>
    <md-error class="error" *ngIf="error">
      Something went wrong
    </md-error>
  </mat-form-field>
</mat-dialog-content>
<div class="thanks" *ngIf="thanks && !url">
  <p>Thank you, your issue ticket will appear shortly... &nbsp;
    <fa-icon [icon]="syncIcon" [spin]="true" class="fas"></fa-icon>
  </p>
</div>
<div *ngIf="url && thanks">
  <p *ngIf="url !== 'none'" style="vertical-align: center;" >
    Issue located at:
    <a [href]="url" target="_blank">
      {{url}}
    </a>
  </p>
  <p *ngIf="url === 'none'" style="vertical-align: center;" >
    Error submitting request. Please try again.
  </p>
</div> 
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="sendData(); data.bug_short=''; data.bug_desc=''" type="submit">Submit</button>
</mat-dialog-actions>
