<div fxLayout="row" fxLayoutAlign="space-evenly center" class="table-overflow-x">
  <div style="width:30%;  height:60%; border-style: dashed; border-color:#808080;" class="card p-0 resource-card">
    <div style="border-style: dashed; border-color:#808080;" class="card">
      <div class="form-group" [formGroup]="profileForm">

        <label for="prereqs">Prerequisite Modules</label>
        <textarea type="text" id="prereqs" class="form-control" formControlName="prerequisiteModules"
          placeholder="prerequisite modules"></textarea>
      </div>

    </div>

    <div style="border-style: dotted; border-color: coral;" class="card">
      <h3>Recommended resources</h3>

      <div style="border-style: line; border-color:#b8b0b0;" class="card p-0">
        <div class="form-group" [formGroup]="profileForm">
          <label>Lectures</label>
          <textarea type="text" id="lectures" class="form-control" placeholder="Recommended instructional content"
            formControlName='lectures'></textarea>
        </div>
      </div>

      <div style="border-style: line; border-color:#b8b0b0;" class="card p-0">
        <div class="form-group" [formGroup]="profileForm">
          <label for="labs">Labs</label>
          <textarea type="text" id="labs" class="form-control" placeholder="Recommended practical exercises"
            formControlName='labs'></textarea>
        </div>
      </div>

      <div style="border-style: line; border-color:#b8b0b0;" class="card p-0">
        <div class="form-group" [formGroup]="profileForm">
          <label for="assessments" class="required">Assessments</label>
          <textarea type="text" id="assessments" class="form-control"
            placeholder="List at least one exam or project that completes this" required="required"
            formControlName='assessments'></textarea>
        </div>
      </div>

      <div style="border-style: line; border-color:#6bb3bd;" class="card p-0">
        <div class="form-group" [formGroup]="profileForm">
          <label for="supplemental">Supplemental Resources</label>
          <textarea type="text" id="supplemental" class="form-control"
            placeholder="Other materials, explanations, references, etc."
            formControlName='supplemental'></textarea>
        </div>
      </div>
    </div>
  </div>

  <div style="width:63%;  height:60%; border-style: dashed; border-color:#808080;" class="card p-0 resource-card">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="table-overflow-x">
      <div style="width:50%; border-style: dotted; border-color:blue;" class="card">
        <div class="form-group" [formGroup]="profileForm">
          <label for="workrole" class="required">Work Role</label>
          <input type="text" id="workrole" class="form-control" placeholder="Which work role(s) does this support?"
            required="required" formControlName='workrole'>
        </div>
      </div>

      <div style="width:50%; border-style: dotted; border-color:blue;" class="card">
        <div class="form-group" [formGroup]="profileForm">
          <label for="moduleName" class="required">Module Name</label>
          <input type="text" id="moduleName" class="form-control"
            placeholder="Provide a unique, identifying module name" required="required" formControlName='moduleName'>
        </div>

      </div>
      <div style="width:50%; border-style: dotted; border-color:crimson;" class="card">
        <div class="form-group" [formGroup]="profileForm">
          <label for="moduleDescription" class="required">Module Description</label>
          <textarea type="text" id="module_description" class="form-control"
            placeholder="Provide a unique, identifying module name" required="required"
            formControlName='moduleDescription'></textarea>
        </div>
      </div>
    </div>
    <div style="border-style: dotted; border-color:#808080" class="card">
      <h2>Module KSATs</h2>
      <div fxLayout="row" fxLayoutAlign="space-evenly center" class="table-overflow-x">
        <div style="border-style: dotted; border-color:#808080; width:50%" class="card">
          <div class="form-group" [formGroup]="profileForm">
            <label for="contribs" class="required">Contributes</label>
            <textarea type="text" id="contribs" class="form-control"
              placeholder="List KSATs that will be contributed to by this module" required="required"
              formControlName='contributingKSATs'></textarea>
          </div>

        </div>
        <div style="border-style: dotted; border-color:#808080; width:50%" class="card">
          <div class="form-group" [formGroup]="profileForm">
            <label for="completes" class="required">Completes</label>
            <textarea type="text" id="contribs" class="form-control"
              placeholder="List KSATs that will be fulfilled by this module" required="required"
              formControlName='completingKSATs'></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- le button -->
    
    <div class="form-group" [formGroup]="profileForm">
      <label for="Email" class="required">Creator Email</label>
      <textarea type="text" id="Email" class="form-control"
        placeholder="If submitting through gitlab, please provide your email address" required="required"
        formControlName='creatorEmail'></textarea>
    </div>
    <button class="btn" style="margin: 20px; background-color:crimson;" mat-button (click)=" profileForm.reset();">Clear
      Form</button>
    <button class="btn" style="margin: 20px; float: right; border-style: dotted; border-color:rgb(105, 71, 228);"
      (click)="downloadJSON()" class="btn"> Export JSON </button>
    <button class="btn" (click)="sendJSON()">Submit Via Gitlab Only </button>
    <button class="btn" style="margin: 20px; float: right; border-style: dotted; border-color:crimson;" mat-button
      (click)=" onSubmit();">Submit</button>




    <!-- end button area  -->
    <!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">Submit form</form> -->
  </div>
</div>

<app-mttl></app-mttl>