<h2 mat-dialog-title>Modify KSAT: {{diagData.ksatId}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Suggested Modification</mat-label>
    <textarea matInput [(ngModel)]='diagData.info'></textarea>
    <md-error class="error" *ngIf="error">This field is required</md-error>
  </mat-form-field>
</mat-dialog-content>
<div class="thanks" *ngIf="thanks && !url">
  <p>Thank you, your issue ticket will appear shortly... &nbsp;
    <fa-icon [icon]="syncIcon" [spin]="true" class="fas"></fa-icon>
  </p>
</div>
<div *ngIf="url && !spamFlag">
  <p style="vertical-align: center;" >
    Issue Located at:
    <a ng-href="{{url}}" target="_blank" (click)="click()">
      {{url}}
    </a>
  </p>
</div>
<div *ngIf="spamFlag">
  <p style="vertical-align: center;">Thank you for your input!</p>
  <br/>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="sendData(); diagData.info=''">Submit</button>
</mat-dialog-actions>
