.carousel{
    position:relative;
}
.carousel-inner{
    transform: translate(12.5%, 0%);
    width:80%;
    justify-content: center;
    overflow:hidden
}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
  }
.carousel-item{
    position:relative;
    display:none;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;width:100%;
    transition:-webkit-transform .6s ease;
    transition:transform .6s ease;
    transition:transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-perspective:1000px;
    perspective:1000px
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
      -o-transition: -o-transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000px;
      perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      left: 0;
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      left: 0;
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}
.carousel-item-next,.carousel-item-prev{position:absolute;top:0}
.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translateX(0);transform:translateX(0)}
@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d))
{
    .carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{
        -webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
    }
}
.active.carousel-item-right,.carousel-item-next{-webkit-transform:translateX(100%);transform:translateX(100%)}
@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d))
{
    .active.carousel-item-right,.carousel-item-next{
        -webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)
    }
}
.active.carousel-item-left,.carousel-item-prev{
    -webkit-transform:translateX(-100%);transform:translateX(-100%)
}
@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d))
{
    .active.carousel-item-left,.carousel-item-prev{
        -webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)
    }
}
.carousel-control .icon-prev:before {
    content: "";
}
.carousel-control .icon-next:before {
    content: "";
}
.carousel-control-next,.carousel-control-prev{
    position:absolute;
    top:0;
    bottom:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    width:15%;
    text-align:center;
    opacity:.5
}
.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{

    text-decoration:none;
    outline:0;
    opacity:.9
}
.carousel-control-prev{
    left:0
}
.carousel-control-next{
    right:0
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    display:inline-block;
    width:30px;
    height:30px;
    background:transparent no-repeat center center;
    background-size:100% 100%}
    
.carousel-control-prev-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
.carousel-control-next-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}
.carousel-indicators{
    
    position:absolute;
    right:0;
    bottom:10px;
    left:0;
    z-index:15;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding-left:0;
    margin-right:5%;
    margin-left:5%;
    list-style:none;

    li{
        position:relative;
        -webkit-box-flex:0;
        -ms-flex:0 1 auto;
        flex:0 1 auto;
        width:30px;
        height:3px;
        margin-right:3px;
        margin-left:3px;
        text-indent:-999px;
        background-color:rgba(255,255,255,.5);
            ::before{
                position:absolute;
                top:-10px;
                left:0;
                display:inline-block;
                width:100%;
                height:10px;
                content:"<";
            }
            ::after{
                position:absolute;
                bottom:-10px;
                left:0;
                display:inline-block;
                width:100%;
                height:10px;
                content:">"
            }
    }
    .carousel-indicators .active{
        background-color:#000
    }
}
.carousel-caption{position:absolute;
    right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}
