<h2 mat-dialog-title>{{data.ksatId}}: Add {{data.type}} Link</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field floatLabel="never">
    <mat-label>{{data.type}} Link</mat-label>
    <input matInput [(ngModel)]="data.url">
  </mat-form-field>
</mat-dialog-content>
<div class="thanks" *ngIf="thanks && !url">
  <p>Thank you, your issue ticket will appear shortly... &nbsp;
    <fa-icon [icon]="syncIcon" [spin]="true" class="fas"></fa-icon>
  </p>
</div>
<div *ngIf="url && !spamFlag">
  <p style="vertical-align: center;" >
    Issue Located at:
    <a ng-href="{{url}}" target="_blank" (click)="click(url)">
      {{url}}
    </a>
  </p>
</div>
<div *ngIf="spamFlag || error">
  <p *ngIf="spamFlag" style="vertical-align: center;">Thank you for your input!</p>
  <p *ngIf="error" class="error" style="vertical-align: center;">Bad link, please try again</p>
  <br/>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="sendData(); data.url=''">Submit</button>
</mat-dialog-actions>
