#disclaimer {
    font-family: 'Open Sans';
    padding-bottom: 90px;
    margin-left: 36px; 
    margin-right: 90px; 
    //background-color: #43464B;
}

#contactUs{
    text-decoration: underline;
    color: inherit; 
}