<!-- 
  Main landing page wrapper

  Contains code for navbar following halfmoon template

  Router outlet at bottom of page is where components are switched
  
  -->

<div class="page-wrapper with-navbar">

  <!-- Sticky alerts (toasts), empty container -->
  <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
  <div class="sticky-alerts"></div>

  <!-- Navbar start -->
  <nav class="navbar d-flex" style="justify-content: space-between;">
    <!-- Navbar brand -->
    <div class="float-left">
      <a href="#"  class="navbar-brand float-left mt-10">
        <div id="step1">
          <img src="assets/shadow_warrior.svg" class="float-left mt-5"  id="step2">
          90 COS Training & Evals &nbsp;
        </div>
      </a>
      <fa-icon [icon]="moon" size="xs" class="nav-link mt-20 px-0" (click)="toggleDarkMode()"></fa-icon>

    </div>
    <!-- Navbar nav -->
    <ul class="navbar-nav float-right d-none d-md-flex">
      <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
      <li class="nav-item">
        <a id="step3" href="/mttl" class="nav-link">MTTL</a>
      </li>
      <li class="nav-item dropdown with-arrow">
        <a id="step4" class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle" target="_blank" #step4>Docs
          &nbsp;
          <fa-icon [icon]="down" class="mt-5"></fa-icon>
        </a>
        <div class="dropdown-menu p-0" aria-labelledby="nav-link-dropdown-toggle">
          <a class="dropdown-item" target="_blank" href="/documentation">MTTL</a>
          <a class="dropdown-item" target="_blank" href="https://90cos.gitlab.io/cyv/admin/index.html">Eval</a>
          <a class="dropdown-submenu dropdown-item">Study
            <fa-icon [icon]="right" class="float-right"></fa-icon>
            <div class="sub-menu card p-0 w-100">
              <a class="dropdown-item" target="_blank"
                href="https://90cos.gitlab.io/cyv/knowledge-test-banks/test-banks/CCD/index.html">CCD MQF</a>
              <a class="dropdown-item" target="_blank"
                href="https://90cos.gitlab.io/cyv/knowledge-test-banks/test-banks/PO/index.html">PO MQF</a>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a id="step5" href="https://embed.kumu.io/af036bcb2cb5c5a734fa1e4127369c76#the-ksat-universe" target="_blank"
          class="nav-link">Visualization</a>
      </li>
      <li id="step8" class="nav-item dropdown with-arrow">
        <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
          Training <span> &nbsp;</span>
          <fa-icon [icon]="down" class="mt-5"></fa-icon>
        </a>
        <div class="dropdown-menu w-200" aria-labelledby="nav-link-dropdown-toggle">
          <a target="_blank" href="https://gitlab.com/90cos/cyt/training/modules" class="dropdown-item">90COS
            Training</a>
          <a target="_blank" href="https://gitlab.com/39iosdev/ccd-iqt/idf" class="dropdown-item">39IOS IDF</a>
        </div>
      </li>
      <li id="step9" class="nav-item">
        <a href="/roadmap" class="nav-link">Roadmap</a>
      </li>
      <li id="step10" class="nav-item dropdown with-arrow">
        <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
          Metrics <span> &nbsp;</span>
          <fa-icon [icon]="down" class="mt-5"></fa-icon>
        </a>
        <div class="dropdown-menu w-200" aria-labelledby="nav-link-dropdown-toggle">
          <a href="/all_metrics" class="dropdown-item">View All</a>
          <a href="/metrics" class="dropdown-item">Metrics Lookup</a>
          <a href="/misc-tables" class="dropdown-item">Miscellaneous Tables</a>
        </div>
      </li>

      <li class="nav-item dropdown with-arrow">
        <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
          VTR<span> &nbsp;</span>
          <fa-icon [icon]="down" class="mt-5"></fa-icon> <!-- ml-5= margin-left: 0.5rem (5px) -->
        </a>
        <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="nav-link-dropdown-toggle">
          <a target="_blank" href="https://90cos.gitlab.io/cyt/training-systems/vtr-system/" class="dropdown-item">VTR
            Docs</a>
          <a target="_blank" href="https://www.youtube.com/playlist?list=PL79OPuC-kzYx_-GpeKYDtP8XPYh7dYGxm"
            class="dropdown-item">VTR Videos</a>
        </div>
      </li>

      <li class="nav-item dropdown with-arrow">
        <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
          Support <span> &nbsp;</span>
          <fa-icon [icon]="down" class="mt-5"></fa-icon> <!-- ml-5= margin-left: 0.5rem (5px) -->
        </a>
        <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="nav-link-dropdown-toggle">
          <span class="dropdown-item" style="text-align:center" (click)="contactUs()">Contact Us</span>
          <a href="/faq" class="dropdown-item">FAQ</a>
          <a target="_blank" href="https://www.gitlab.com/90cos/mttl" class="dropdown-item">View Code Repo</a>
        </div>
      </li>
      <li class="nav-item dropdown with-arrow" *ngIf="profileName">
          <a class="nav-link" data-toggle="dropdown" id="nav-link-dropdown-toggle">
            {{profileName}} <span> &nbsp;</span>
            <fa-icon [icon]="down" class="mt-5"></fa-icon>
          </a>
          <div class="dropdown-menu w-200" aria-labelledby="nav-link-dropdown-toggle">
            <!-- <span class="dropdown-item" style="text-align:left"  (click)="sayGoodbye()"  class="dropdown-item">Logout</span> -->
            <span class="dropdown-item" style="text-align:left"  (click)="sayFarewell()"  class="dropdown-item">Logout </span>
          </div>
      </li>

      <div *ngIf="!(isLoggedIn)">
        <a
          href="https://gitlab.com/oauth/authorize?client_id={{client_id}}&redirect_uri={{redirect_uri}}&response_type=code&state={{state}}&scope=openid">
          <li (click)="setProfileCookie()" class="nav-item" style="text-align:center; padding-top: 4px;">
            <fa-icon [icon]="gitlab">logged in </fa-icon>
          </li>
        </a>
      </div>


    </ul>
    <!-- Navbar content (with the dropdown menu) -->
    <div class="navbar-content d-md-none ml-auto">
      <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
      <div id="step11" class="dropdown with-arrow">
        <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
          Menu
          <fa-icon [icon]="down"></fa-icon>
        </button>
        <div class="dropdown-menu dropdown-menu-left w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
          <!-- w-200 = width: 20rem (200px) -->
          <a href="#" class="dropdown-item">Docs</a>
          <a href="#" class="dropdown-item">Products</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-content">
            <form action="..." method="...">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email address" required="required">
              </div>
              <button class="btn btn-primary btn-block" type="submit">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar end -->
  <!-- Content wrapper start -->
  <div class="content-wrapper" style="height:auto">
    <router-outlet></router-outlet>
  </div>
</div>
