<div>
    <table class="table" style="font-size:medium;">
        <tr>
            <td style="font-weight: bold;" width="5%">Unique name: </td>
            <td width="25%"> {{roadmaps[currentRoadmap]['uniq_name']}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Objective: </td>
            <td> {{roadmaps[currentRoadmap]['objective']}}</td>
            <td style="font-weight: bold;">Content: </td>
            <td>
                <div *ngFor="let ref of roadmaps[currentRoadmap]['content']">
                    {{ref['ref']}}
                </div>
            </td>

        </tr>
        <tr>
            <td style="font-weight: bold;">Description: </td>
            <td> {{roadmaps[currentRoadmap]['description']}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Performance: </td>
            <td>
                <div *ngFor="let lab of roadmaps[currentRoadmap]['performance']">
                    {{lab['perf']}}
                </div>
            </td>
            <td style="font-weight: bold;">Assessments: </td>
            <td>
                <div *ngFor="let lab of roadmaps[currentRoadmap]['assessment']">
                    {{lab['eval']}}
                </div>
            </td>
        </tr>



    </table>

</div>
<div id=roadmap_component>

    <div class="top-bar">
        <h3 class="title-text">
            <fa-icon [icon]="signs"></fa-icon> {{currentRoadmap}} KSATs - supplemented and completed:
        </h3>

        <div class="title-form">
            <span>Jump to: </span>
            <select class="form-control" id="uniq_id" #uniq_id (change)='setRoadmap(uniq_id.value)'>
                <option *ngFor="let roadmap of roadmaps | keyvalue">
                    {{roadmap.key}}
                </option>
            </select>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="table-overflow-x">


        <!-- Tasks -->
        <!-- <div fxLayout="column wrap" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="space-around"> -->
        <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center">  -->
        <div class="card p-0 resource-card">
            <div *ngFor="let resource of roadmaps[currentRoadmap]['required_tasks']">

                <h3>{{resource['ksat_id']}}</h3>
                <div class="proficiencies">
                    <h4>Proficiency Taught: {{resource.proficiency}}</h4>
                </div>
            </div>
            <!-- <a class="btn link-button" [href]="resource['url']"><fa-icon [icon]="linkIcon"></fa-icon></a> -->
        </div>
        <!-- </div> -->
        <!-- Abilities  -->
        <!-- <div fxLayout="column wrap" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="space-around"> -->

        <div class="card p-0 resource-card">
            <div *ngFor="let resource of roadmaps[currentRoadmap]['required_abilities']">

                <h3>{{resource['ksat_id']}}</h3>

                <div class="proficiencies">
                    <h4>Proficiency Taught: {{resource.proficiency}}</h4>
                </div>
      
            </div>
            <!-- <a class="btn link-button" [href]="resource['url']"><fa-icon [icon]="linkIcon"></fa-icon></a> -->
        </div>
        <!-- </div> -->
        <!-- skills -->
        <div fxLayout="column wrap" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="space-around">
            <div class="card p-0 resource-card">
                <div *ngFor="let resource of roadmaps[currentRoadmap]['required_skills']">

                    <h3>{{resource['ksat_id']}}</h3>
                    <div class="proficiencies">
                        <h4>Proficiency Taught: {{resource.proficiency}}</h4>
                    </div>
                   
                </div>
                <!-- <a class="btn link-button" [href]="resource['url']"><fa-icon [icon]="linkIcon"></fa-icon></a> -->
            </div>
        </div>
        <!-- knowledge -->
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="space-around">
            <div class="card p-0 resource-card">
                <div *ngFor="let resource of roadmaps[currentRoadmap]['required_knowledge']">

                    <h3>{{resource['ksat_id']}}</h3>

                    <div class="proficiencies">
                        <h4>Proficiency Taught: {{resource.proficiency}}</h4>
                    </div>
                   
                </div>
                <!-- <a class="btn link-button" [href]="resource['url']"><fa-icon [icon]="linkIcon"></fa-icon></a> -->
            </div>
        </div>

    </div>




    <!-- <div class="prereqs-upgrades">
        <div class="prereqs" *ngIf="roadmaps[currentRoadmap]['prereqs'].length > 0">
            <h3>
                <fa-icon [icon]="leftArrow"></fa-icon> Prerequisites
            </h3>
            <div *ngFor="let prereq of roadmaps[currentRoadmap]['prereqs']">
                <button class="btn roadmap-button"
                    (click)="setRoadmap(prereq); wr_select.value=prereq">{{prereq}}</button>
            </div>
        </div>
        <div class="upgrades" *ngIf="roadmaps[currentRoadmap]['upgrades'].length > 0">
            <h3>Upgrades <fa-icon [icon]="rightArrow"></fa-icon>
            </h3>
            <div class="roadmap-buttons" *ngFor="let upgrade of roadmaps[currentRoadmap]['upgrades']">
                <button class="btn roadmap-button"
                    (click)="setRoadmap(upgrade); wr_select.value=upgrade">{{upgrade}}</button>
            </div>
        </div>
    </div> -->
</div>