.card{
    box-shadow: 0 3px 3px 0 #707070;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    min-width: -webkit-fill-available;
    min-width: -moz-fill-available;
    max-height: fit-content;
    max-height: -moz-fit-content;
}