<div id="faq">
    <div class="form-control h-auto pt-0 pb-0 d-inline-block" (click)="FAQ_search.focus()">
        <h3><fa-icon [icon]="search"  class="float-left mr-10 mt-5"></fa-icon></h3>
        <div class="my-auto">
            <mat-form-field class="search-box float-left mt-0 mb-0 pt-0 pb-0">
                <mat-label>How can we help you?</mat-label>
                <input  matInput
                        #FAQ_search>
            </mat-form-field>
        </div>
    </div>
    <div class="faq-wrapper table-overflow-y">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="space-around">
            <div class="card p-0 faq-card p-auto" *ngFor="let FAQ of faqData | FAQSearch:FAQ_search.value">
                <div class="content">
                    <h2 class="content-title faq-question">
                        {{FAQ.question}}
                    </h2>
                    <p class="text-muted faq-answer"
                    [innerHTML]=FAQ.answer></p>
                </div>
            </div>
        </div>
    </div>

    <p style="font-size:larger; text-align: center;">Please<span class="btn btn-link px-0" (click)="contactUs()"> Contact Us</span> with any additional questions</p>
</div>