<h2>Work Roles & Specializations</h2>
<div id="wr-metrics-component">
  <div class="navbar second-level">
   <div class="form-control w-auto mr-5" (click)="filterCol.focus()">
      <mat-form-field class="w-150 custom-mat" id="search-input" floatLabel="never">
        <mat-select matInput id="m2" #filterCol>
          <mat-option *ngFor="let option of filterOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
        <mat-label>Filter By</mat-label>
      </mat-form-field>
    </div>
    <div class="form-control filter-field mr-5" (click)="filterInput.focus()">
      <div id="search-input">
        <mat-form-field class="search-boxes ml-5 custom-mat" floatLabel="never">
          <mat-chip-list #filterList aria-label="Filter selection" class="chip-list">
            <mat-chip *ngFor="let filter of filtered(filterObj)"
                    (click)="removeFilter(filter.column, filter.filterText)"
                    class="">
              {{filter.filterText}} &nbsp; <b class="close-chip my-auto">x</b> &nbsp;
            </mat-chip>
            <input matInput [matChipInputFor]="filterList"
                  [formControl]="searchFC"
                  [matAutocomplete]="auto" 
                  placeholder="Filter"
                  #filterInput>
                  <mat-autocomplete class="search-autocomplete" #auto="matAutocomplete" 
                          (optionSelected)="addBySelection($event)">
                    <mat-option *ngFor="let item of uniqueValue(sortSpec(filterMappings[filterCol.value])) | autocomplete:filterInput.value" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-autocomplete>
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>
    <mat-divider vertical class="vert-divider bg-light-dm ml-10 mr-10"></mat-divider>
    <div id="clear_filter">
      <button id="clear_filter" class="btn" (click)="clear()">Clear All</button>
    </div>
  </div>
  <div class="mttl-table" #mttl>
    <table class="table table-striped">
      <thead class="mttl-head">
          <tr>
            <th width="50"></th>
            <!-- according to the old mttl sorting was only available on the wr_spec column -->
            <th  class="header-selectable" (click)="changeSort('wr')">
              Work Role/Specialization 
              <fa-icon *ngIf="sortCombo[0] == '-wr'" [icon]="faSortUp"></fa-icon>
              <fa-icon *ngIf="sortCombo[0] == 'wr'" [icon]="faSortDown"></fa-icon>
              <fa-icon *ngIf="sortColumn != 'wr'" [icon]="faSort"></fa-icon>
            </th>
            <th width="10"></th>
            <th  class="header">
              Tasks
            </th>
            <th width="10"></th>
            <th  class="header">
              Abilities
            </th>
            <th width="10"></th>
            <th  class="header">
              Skills
            </th>
            <th width="10"></th>
            <th  class="header">
              Knowledge
            </th>
            <th width="10"></th>
          </tr>
        </thead>
      <tbody class="mttl-content">
        <tr
          *ngFor="let spec of specs | searchFilter: filterObj | orderBy : sortCombo | paginate: { id: 'paginationWR', itemsPerPage: pageSize, currentPage: page }; let i = index;"
          style="border-top: 3px; border-bottom: 3px;">
          <td width="50"></td>
          <td style="overflow-y: auto;" >
              {{specFilter(spec, 'wr')}}
          </td>
          <td width="10"></td>
          <td style="overflow-y: auto;" >
              {{specFilter(spec, 'tasks')}}
          </td>
          <td width="10"></td>
          <td style="overflow-y: auto;" >
              {{specFilter(spec, 'abs')}}
          </td>
          <td width="10"></td>
          <td style="overflow-y: auto;" >
              {{specFilter(spec, 'skill')}}
          </td>
          <td width="10"></td>
          <td style="overflow-y: auto;" >
              {{specFilter(spec, 'know')}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div id="footer">
    <!-- Pagination controls are a third party library loaded via npm  -->
    <div class="pagination-size">
      Work Roles Per Page:
      <select class="form-control size-controller" 
        (change)="pageSize=paginationSelector.value; page=1;"
        #paginationSelector>
        <option value=1 selected="selected">1</option>
        <option value=2>2</option>
        <option value=5>5</option>
        <option value=10>10</option>
      </select>
    </div>
    <pagination-controls class="pagination" id="paginationWR" (pageChange)="page = $event; mttl.scrollTop=0"></pagination-controls>
    <span class="results-numbers">
      Work Role {{((page-1) * pageSize) + 1}}-{{page * pageSize < (specs | searchFilter:filterObj | filterByArray: 'wr':wrObj)?.length ? page * pageSize : (specs | searchFilter:filterObj | filterByArray: 'wr':wrObj)?.length}} of {{ (specs | searchFilter: filterObj)?.length }}
      &nbsp; &nbsp;
    </span>
  </div>
</div>
