<h2>KSATs without Work Roles/Specializations</h2>
<div id="no-wr-metrics-component">
  <div class="mttl-table" #mttl>
    <table class="table table-striped">
      <thead class="mttl-head">
          <tr>
            <th width="50"></th>
            <th  class="header">
              Tasks
            </th>
            <th width="50"></th>
            <th  class="header">
              Abilities
            </th>
            <th width="50"></th>
            <th  class="header">
              Skills
            </th>
            <th width="50"></th>
            <th  class="header">
              Knowledge
            </th>
            <th width="50"></th>
          </tr>
        </thead>
      <tbody class="mttl-content">
        <tr
          *ngFor="let spec of specs;">
          <td width="50"></td>
          <td class="label-expander">
              {{spec['wr']}}
          </td>
          <td width="50"></td>
          <td class="label-expander">
              {{specFilter(spec, 'abs')}}
          </td>
          <td width="50"></td>
          <td class="label-expander">
              {{specFilter(spec, 'skill')}}
          </td>
          <td width="50"></td>
          <td class="label-expander">
              {{specFilter(spec, 'know')}}
          </td>
          <td width="50"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>